# Python artifacts
__pycache__/
*.pyc
.venv/
.env

# Editor settings
.vscode/
*.code-workspace

# System files
.DS_Store
Thumbs.db

# Jupyter temp files
.ipynb_checkpoints/

# Output predictions and visuals
outputs/*.csv
outputs/vis/
outputs/vis_denoised/
outputs/vis_augmented/

# Checkpoints (too large for GitHub)
checkpoints/*.pth
*.pth

# Optional: uncomment to ignore data folders
# data/